h1 {
    color: blue;
    background-color: green;
}

table,
td,
th {
    border: 2px solid black;
    /* border-collapse: collapse; */
    border-spacing: 2px;
}

th {
    border: 2px double black;
    background-color: lightblue;
}


td {
    background-color: lightcoral;
}

path:hover {
    fill: green;
    transition: all .5s;
}